:root {
    --width-nav-desktop: 300px;
    --main-color-scheme: #ffa623;
    --big-border: 1.5em;
  }

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--main-color-scheme);
}

nav {
    background: var(--main-color-scheme);
    overflow: auto;
}

nav h1 {
    text-align: center;
}

nav ul {
    padding: 0;
}

nav li {
    list-style-type: none;
    display: flex;
    width: 100%;
}

li .nav-link {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 1em 0;
}

.nav-link:hover {
    background: rgba(0, 0, 0, .2);
}

li:first-child .nav-link {
    border-top: 1px solid;
}

main {
    padding: 1em;
    background: white;
}

.wrapper {
    max-width: 1000px;
}

@media screen and (min-width: 600px) {
    nav {
        position: fixed;
        top: 0;
        bottom: 0;
        width: var(--width-nav-desktop);
        height: auto;
        padding-top: 1em;
    }
    main {
        margin-left: var(--width-nav-desktop);
        margin-right: var(--big-border);
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding: calc(var(--big-border) + 1em) 1em;
    }
    main::before {
        content: "";
        height: var(--big-border);
        background: var(--main-color-scheme);
        position: fixed;
        border-bottom: 1px solid black;
        top: 0;
        left: 300px;
        right: var(--big-border);
    }
    main::after {
        content: "";
        height: var(--big-border);
        background: var(--main-color-scheme);
        position: fixed;
        border-top: 1px solid black;
        bottom: 0;
        left: 300px;
        right: var(--big-border);
    }
}

.main-section p {
    line-height: 1.5em;
}

pre {
    border-radius: .2em;
}

/******************************************
The font-stack of the output class has been
adapted from prismjs "tomorrow" theme.
*******************************************/
.output {
    background: rgb(235, 235, 235);
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.copyright-info {
    font-size: .9em;
    text-align: center;
    line-height: 1.5em;
    margin: 0 5em;
}

.cc-by {
    display: block;
    margin: 0 auto;
}

.cc-by-inline {
    height: 1em;
    display: inline;
    position: relative;
    top: .07em;
}


.file-extension, .file-name, .tech-term {
    font-style: normal;
    font-size: 1em;
    font-family: monospace;
    padding: .2em .4em .2em .2em;
    background: #d3d0ff;
    color: black;
    border-radius: .1em;
}

.file-name, .tech-term {
    padding-right: .2em;
}

a {
    text-decoration: none;
    color: darkcyan;
    border-bottom: 1px solid;
}

.external-link::before {
    content: "» ";
}



  @media screen and (min-width: 600px) {
    /**********************************
    Prevent hash tag linked section
    to disappear under the big-border^^

    Snippet adapted from CSS-tricks
    (https://css-tricks.com/hash-tag-links-padding/)
    ************************************/
    section.jumplink h2 {
        margin-top: 0;
    }
    .jumplink::before {
        display: block; 
        content: " "; 
        margin-top: calc(-1*var(--big-border) - 1em); 
        height: calc(var(--big-border) + 1em); 
        visibility: hidden; 
        pointer-events: none;
      }
  }
