:root {
    --width-nav-desktop: 300px;
    --main-color-scheme: rgb(76 175 174)/*#90cbc5*/;
  }

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

nav {
    overflow: auto;
    background: var(--main-color-scheme);
}

nav h1 {
    text-align: center;
}

nav h1 a {
    color: black;
    border: 0;
    
}

nav ul {
    padding: 0;
    margin: 0;
    height: 200px;
    overflow: auto;
}

nav li {
    list-style-type: none;
    display: flex;
    width: 100%;
    margin-bottom: 4px;
    padding: 0;
}

li .nav-link {
    font-size: 1em;
    font-weight: 200;
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: .7rem 0;
    border: 0;
    background: rgba(0,0,0,.1);
}

.nav-link:hover, .nav-link:focus {
    background: rgba(0, 0, 0, .2);
}

li:last-child {
    border-bottom: 0;
}

main {
    padding: 1em;
    background: white;
}

.wrapper {
    max-width: 1000px;
}

@media screen and (min-width: 600px) {
    nav {
        position: fixed;
        top: 0;
        bottom: 0;
        width: var(--width-nav-desktop);
        height: auto;
        margin: 1em;
        padding-top: 5em;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
    }
    nav header {
        width: var(--width-nav-desktop);
        height: 5em;
        position: fixed;
        display: flex;
        margin-top: -5em;
        background: var(--main-color-scheme);
        border-radius: 5px 5px 0 0;
    }
    nav h1 {
        margin: auto;
    }
    nav ul {
        height: auto;
    }
    main {
        margin-left: calc(var(--width-nav-desktop) + 1em);
    }
    main::before {
        /* content: ""; */
        height: var(--big-border);
        background: var(--main-color-scheme);
        position: fixed;
        border-bottom: 1px solid black;
        top: 0;
        left: var(--width-nav-desktop);
        right: var(--big-border);
    }
    main::after {
        /* content: ""; */
        height: var(--big-border);
        background: var(--main-color-scheme);
        position: fixed;
        border-top: 1px solid black;
        bottom: 0;
        left: var(--width-nav-desktop);
        right: var(--big-border);
    }
}

.main-section p {
    line-height: 1.5em;
}

pre {
    border-radius: .2em;
}

/******************************************
The font-stack of the output class has been
adapted from prismjs "tomorrow" theme.
*******************************************/
.output {
    background: rgb(235, 235, 235);
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.copyright-info {
    font-size: .9em;
    text-align: center;
    line-height: 1.5em;
    margin: 0 5em;
}

.cc-by {
    display: block;
    margin: 0 auto;
}

.cc-by-inline {
    height: 1em;
    display: inline;
    position: relative;
    top: .07em;
}


.file-extension, .file-name, .tech-term {
    font-style: normal;
    font-size: 1em;
    font-family: monospace;
    padding: .2em .4em .2em .2em;
    background: #d3d0ff;
    color: black;
    border-radius: .1em;
}

.file-name, .tech-term {
    padding-right: .2em;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
}

.external-link::before {
    content: "» ";
}



  @media screen and (min-width: 600px) {
    /**********************************
    Prevent hash tag linked section
    to disappear under the big-border^^

    Snippet adapted from CSS-tricks
    (https://css-tricks.com/hash-tag-links-padding/)
    ************************************/
    section.jumplink h2 {
        margin-top: 0;
    }
    .jumplink::before {
        display: block;
        content: " ";
        margin-top: -1em;
        height: 1em;
        visibility: hidden;
        pointer-events: none;
      }
  }
